// banner style
.banner-content {
  width: 478px;

  // type
  .typing-text {
    color: rgba(var(--p1), 1);
  }

  .typing-text::after {
    content: "|";
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
}
.user-bg {
  // position: relative;
  width: 325px;
  height: 407px;
  background-color: rgba(var(--p1), 1);
  animation: rotatedBg 10s infinite linear;
}

@keyframes rotatedBg {
  0%,
  100% {
    transform: rotate(11.163deg);
  }

  50% {
    transform: rotate(-11.163deg);
  }
}
.user-img {
  position: absolute;
  top: 0px;
  width: 325px;
  height: 407px;
}

.line {
  width: 1px;
  height: 38px;
  background-color: rgba(var(--n5), 1);
}

.banner-counter {
  width: 636px;
}

// what i do section style
.service-card {
  background-color: rgba(var(--n2), 1);
  border: 1px solid rgba(143, 143, 143, 0.25);
  transition: all 0.3s ease-in-out;
  .service-icon {
    width: 28px;
    height: 28px;
  }
  &:hover {
    background-color: rgba(var(--n1), 1);
    border: 1px solid rgba(var(--p1), 1);
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.16);
  }
}

// next project section style
.next-project {
  background-image: url("../../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  .next-project-content {
    width: 636px;
  }
}

// featured projects style
.project-card {
  img {
    border: 1px solid rgba(var(--n1), 1);
    transition: all 0.5s ease-in-out;
  }
  .project-title {
    transition: all 0.5s ease-in-out;
  }
  .project-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(var(--n4), 0.2);
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    img {
      border: 1px solid rgba(var(--p1), 1);
    }
    .project-title {
      color: rgba(var(--p1), 1);
    }
    .project-link {
      background-color: rgba(var(--p1), 1);
      color: rgba(var(--n1), 1);
    }
  }
}

// testimonial style
.testimonial_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.swiper-custom-bullet {
  height: 12px;
  width: 12px;
  border-radius: 30px;
  background-color: #ececef;
}
.swiper-custom-bullet.swiper-custom-bullet-active {
  transition: all 0.5s ease-in-out;
  background-color: rgba(var(--p1), 1);
}

// latest blog style
.blog-card {
  img,
  .blog-title {
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
    .blog-title {
      color: rgba(var(--p1), 1);
    }
  }
}

// ------portfolio page style------------

.tab-active {
  color: rgba(var(--p1), 1);
  border-bottom: 2px solid rgba(var(--p1), 1);
  outline: none;
}

.project-details-content {
  .portfolio-details-img {
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.04);
    }
  }
  ul {
    li {
      list-style: disc;
      list-style-position: inside;
    }
  }
}

// --------------price page style------------
.pricing-card {
  transition: all 0.5s ease-in-out;
  .popular-price {
    width: max-content;
    background-color: rgba(var(--p1), 1);
    border-radius: 0px 1000px 1000px 0px;
    position: absolute;
    top: 32px;
    right: -20px;
    transform: rotate(90deg);
  }
  &:hover {
    transform: scale(1.05);
    border: 1px solid rgba(var(--p1), 1);
  }
}

.hire-content {
  width: 636px;
  margin: auto;
}

/* -----frequently asked question start----- */

.faq_icon_width {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(var(--n3), 1);
  color: rgba(var(--n1), 1);
}
.faq_icon_width_active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(var(--p1), 1);
}
// .answer {
//   transition: max-height 1.4s ease;
// }
// .faq.faqactive {
//   border: 1px solid rgba(var(--p1), 1);
// }
// .faq.faqactive h3 {
//   color: rgba(var(--p1), 1);
// }
// .faq.faqactive .ph-minus {
//   color: rgba(var(--p1), 1);
// }
// .faq.faqactive .faq_icon_width {
//   background-color: rgba(var(--p1), 1);
// }
// .faq.faqactive .answer {
//   max-height: 300px;
// }
// .faq.faqactive .faq-icon {
//   transform: rotate(180deg);
// }
// .faq-icon {
//   transition: transform 0.5s ease-in;
// }
// .hiddenIcon {
//   display: none;
// }
/*--frequently asked question end ---*/

// ----------blog details page style----------
.pagination-countainer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: rgba(var(--p1), 1);
    color: rgba(var(--n11), 1);
  }
}

// ---------resume page style----------

.resume-profile {
  width: 160px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(var(--p1), 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.resume-section {
  ul {
    li {
      list-style: disc;
      // list-style-position: inside;
    }
  }
}

.resume-icon {
  .social-icon {
    transition: all 0.3s ease-in-out;
    i {
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    .social-icon {
      background-color: rgba(var(--p1), 1);
      i {
        color: rgba(var(--n11), 1);
      }
    }
  }
}

// ------------blog details page ---------
.blog-details-section {
  ul {
    li {
      list-style: disc;
      list-style-position: inside;
    }
  }

  .blog-details-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.04);
    }
  }
  .line3 {
    width: 72px;
    height: 1px;
    background-color: rgba(var(--n3), 1);
  }

  .blog-social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: rgba(var(--p1), 1);
      i {
        color: rgba(var(--n11), 1);
      }
    }
  }

  .prev-img {
    width: 220px;
    height: 123px;
    object-fit: cover;
  }

  .cmnt-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

  .reply-section {
    width: 636px;
  }

  .show-reply {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    max-height: 200px;
  }
  .hidden-reply {
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
    max-height: 0px;
  }
}

// responsive style
@media (max-width: 1399px) {
  .blog-details-section {
    .blog-details-img {
      height: 400px;
    }
  }
}
@media (max-width: 1199px) {
  .banner-content {
    width: 100%;
  }
  .profile-img {
    left: 50%;
    transform: translateX(-50%);
  }
  .banner-counter {
    width: 100%;
  }

  .hire-content {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .banner-content {
    width: 100%;
  }
  .pricing-card {
    .popular-price {
      top: 24px;
    }
  }
}

@media (max-width: 767px) {
  .resume-profile {
    width: 120px;
    height: 120px;
  }
  .blog-details-section {
    .blog-details-img {
      height: 300px;
    }

    .cmnt-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .reply-section {
      width: 100%;
    }
  }

  .user-bg {
    width: 280px;
    height: 350px;
  }

  .user-img {
    width: 280px;
    height: 350px;
  }
}

@media (max-width: 575px) {
  .project-card {
    .project-link {
      width: 40px;
      height: 40px;
    }
  }
}
